<!DOCTYPE html>
<html>
<head>
    <title>Order Details</title>
</head>
<body>
<h1>Order Details</h1>
<p><strong>Order UID:</strong> {{ .order.OrderUID }}</p>
<p><strong>Track Number:</strong> {{ .order.TrackNumber }}</p>
<p><strong>Entry:</strong> {{ .order.Entry }}</p>
<p><strong>Locale:</strong> {{ .order.Locale }}</p>
<p><strong>Customer ID:</strong> {{ .order.CustomerID }}</p>
<p><strong>Date Created:</strong> {{ .order.DateCreated }}</p>

<h2>Delivery Information</h2>
<p><strong>Name:</strong> {{ .order.Delivery.Name }}</p>
<p><strong>Phone:</strong> {{ .order.Delivery.Phone }}</p>
<p><strong>Zip:</strong> {{ .order.Delivery.Zip }}</p>
<p><strong>City:</strong> {{ .order.Delivery.City }}</p>
<p><strong>Address:</strong> {{ .order.Delivery.Address }}</p>
<p><strong>Region:</strong> {{ .order.Delivery.Region }}</p>
<p><strong>Email:</strong> {{ .order.Delivery.Email }}</p>

<h2>Payment Information</h2>
<p><strong>Transaction:</strong> {{ .order.Payment.Transaction }}</p>
<p><strong>Request ID:</strong> {{ .order.Payment.RequestID }}</p>
<p><strong>Currency:</strong> {{ .order.Payment.Currency }}</p>
<p><strong>Provider:</strong> {{ .order.Payment.Provider }}</p>
<p><strong>Amount:</strong> {{ .order.Payment.Amount }}</p>
<p><strong>Payment Date:</strong> {{ formatTimestamp .order.Payment.PaymentDt }}</p>
<p><strong>Bank:</strong> {{ .order.Payment.Bank }}</p>
<p><strong>Delivery Cost:</strong> {{ .order.Payment.DeliveryCost }}</p>
<p><strong>Goods Total:</strong> {{ .order.Payment.GoodsTotal }}</p>
<p><strong>Custom Fee:</strong> {{ .order.Payment.CustomFee }}</p>

<h2>Items</h2>
<ul>
    {{range .order.Items}}
    <li>
        <p><strong>Chrt ID:</strong> {{ .ChrtID }}</p>
        <p><strong>Track Number:</strong> {{ .TrackNumber }}</p>
        <p><strong>Price:</strong> {{ .Price }}</p>
        <p><strong>Rid:</strong> {{ .Rid }}</p>
        <p><strong>Name:</strong> {{ .Name }}</p>
        <p><strong>Sale:</strong> {{ .Sale }}</p>
        <p><strong>Size:</strong> {{ .Size }}</p>
        <p><strong>Total Price:</strong> {{ .TotalPrice }}</p>
        <p><strong>Nm ID:</strong> {{ .NmID }}</p>
        <p><strong>Brand:</strong> {{ .Brand }}</p>
        <p><strong>Status:</strong> {{ .Status }}</p>
    </li>
    {{end}}
</ul>

</body>
</html>